#Hero{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/backgroundpattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
}

#logo{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Agbalumo;
    margin: 3% 0;
    transition: 200ms ease;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes text-pop-up-top {
    0% {
      transform: translateY(20px);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(0px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

.frontend{color: orangered;}
.backend{color: purple}
.homeHero{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
    animation: bob 25s ease infinite;
}
@keyframes bob {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0%);
    }
}

.HeroIMG{
    position: relative;
    width: 60%;
    height: 100%;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.HeroText{
    position: relative;
    width: 40%;
    height: 100%;
    text-wrap: wrap;
    display: grid;
    place-content: center;
    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-ver-center {
    0% {
      transform: scaleY(0);
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
}
  
.HeroText :is(h1, h2, h3){
    width: auto;
    color: #333;
    /* text-shadow: 0 0 13px #aaa; */
    padding: 0 0 0 0%;
    margin-left: 15%;
}
.HeroText>h1{
    font-size: 4vh;
    text-wrap: wrap;
}


@media only screen and (max-width: 767px){
    #Hero{
        flex-direction: column;
        height: 65%;margin-bottom: 5%;

    }
    .homeHero{
        object-fit: contain;
        object-position: center;
        bottom: 7%;
        left: 4.5%;
    }
    .HeroIMG{
        width: 100%;
        height: 60%;
    }
    .HeroText{
        width: 100%;
        height: 50%;
        padding-top: 20%;
    }
    .HeroText :is(h1, h2, h3){
        margin-left: 0;
    }
    .HeroText>h1{
        font-size: 2vh;
        padding: 0 2%;
        text-align: center;
    }
}