#Me{
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.background{
    z-index: 0;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
}
.upDown{
    transform: rotate(180deg);
}
.MyTitle{
    position: relative;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.MyTitle>p{
    font-family: 'Sacramento', cursive;
    font-size: 4vh;
    font-weight: 600;
    color: #333a;
}
.MyTitle>h1{
    font-size: 4vh;
    color: #333;
    text-shadow: 0 0 13px #aaa;
}
.options{
    width: 100%;
    height: auto;
    padding: 0.2vh 0;
}
.options>button{
    padding: 0.7vh 2vh;
    background-color: #aaaaaa50;
    border: none;
    border-radius: 50px;
    font-size: 1.3vh;
    transition: background-color 300ms ease, font-weight 1ms ease;
}
.options>button:hover{
    background-color: #aaa;
    font-weight: 500;
}
.codes{
    position: absolute;
    width: 100%;
    height: 40vh;
    top: -10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.codes>.side{
    position: relative;
    width: 45%;
    height: 100%;
}
.codes>.side>.spEven{
    height: 30%;
    margin: auto;
}
.codes>.side>.spEven>lord-icon{
    width: 20%;
    height: 80%;
}
.codes>.left{}
.codes>.right{}

#myOutlets{
    position: relative;
    width: 100%;
    height: 75%;
    margin: 2% 0 0 0;
}
.photo{
    position: absolute;
    box-shadow: 0 0 3px 1px #aaa;
    width: 45vh;
    height: 45vh;
    border-radius: 20px;
    transform: translateY(-50%) rotate(10deg);
    overflow: hidden;
}
.desc{
    position: relative;
    width: 40%;
    text-align: justify;
    top: 45%;
    transform: translateY(-50%);
    padding: 0 0 0 10%;
}
.desc>h3{
    color: #333;
    font-size: 1.7vh;
}
.desc>p{
    color: #333;
    font-size: 1.7vh;
}
.photo.one{
    right: 5%;
    top: 45%;
}
.photo.one>img{
    /* transform: rotate(-90deg); */
}
.photo.two{
    right: 28%;
    top: 55%;
}

.skillTabs{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillTabs>.tab{
    position: relative;
    width: 30%;
    height: 90%;
}
.skillTabs>.tab1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.skillTabs>.tab1>.end{
    position: relative;
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
.skillTabs>.tab1>.end>div.heading{
    width: 100%;
    height: 15%;
}
.skillTabs>.tab1>.end>div.boding{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.skillTabs>.tab1>.end>div.boding>.icon{
    position: relative;
    width: 20%;
    height: 25%;
    margin: 5%;
}
.skillTabs>.tab1>.end>div.boding>.icon>img{
    object-fit: contain;
}
.skillTabs>.tab1>.end .head{
    border-radius: 20px;
    background-color: #333d;
    color: silver;
    padding: 1% 5%;
    font-size: 1.5vh;
    box-shadow: 0 0 2px 1px #aaa;
}

.skillTabs>.tab2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.skillTabs>.tab2>.midTab{
    display: grid;
    place-content: center;
    text-align: center;
    width: 40%;
    height: 30%;
    margin: auto;
}
.skillTabs>.tab2>.midTab>i{
    font-size: 4vh;
    color: violet;
    background: #66D7EE;
    background: linear-gradient(to right, #66D7EE 0%, #a866ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 13px #aaaaaa57;
}
.skillTabs>.tab2>.midTab>p{
    font-size: 1.5vh;
    text-shadow: 0 0 13px #aaa;
}
.skillTabs>.tab2>.midTab>h2{
    font-size: 5vh;
    text-shadow: 0 0 13px #aaa;
}

.skillTabs>.tab3{
    display: grid;
    place-content: center;
    padding: 0 3%;
}
.resumeTab{
    position: relative;
    width: 100%;
    height: 100%;
}
button.resume{
    position: relative;
    width: 50%;
    height: 10%;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    transition: 500ms ease;
    border: none;
    box-shadow: 0 0 15px 1px rgba(128, 0, 128, 0.407);
}
button.resume::before{
    position: absolute;
    content: '';
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background: radial-gradient( violet, cyan);
    background-size: 100%;
    background-position: center;
    border: 1px solid red;
    z-index: -1;
    transition: 700ms ease;
}
button.resume:hover{
    box-shadow: 0 0 15px 1px rgba(0, 255, 255, 0.407);
}
button.resume:hover::before{
    /* background: radial-gradient( violet 50%, cyan); */
    background-size: 200%;
}

@media only screen and (max-width: 767px){
    #Me{
        /* border: 2px solid red; */
        margin-bottom: 5%;
    }
    .codes{
        top: -7%;
        height: 20%;
    }
    .MyTitle{
        width: 100%;
        left: 0%;
        transform: translateX(0%);
    }
    .MyTitle>p{
        font-size: 2vh;
    }
    .MyTitle>h1{
        font-size: 3vh;
    }
    #myOutlets{
        /* border: 3px solid pink; */
    }
    .desc{
        width: 100%;
        top: 0;
        transform: translateY(0%);
        text-align: center;
        padding: 0;
    }
    .desc>h3{
        font-size: 1.5vh;
        padding: 2% 5%;
    }
    .desc>p{
        font-size: 1.5vh;
        padding: 0 5%;
    }
    .photo{
        width: 25vh;
        height: 25vh;
    }
    .photo.one{
        right: 5%;
        top: 50%;
        transform: translateY(0%) rotate(10deg);
    }
    .photo.two{
        transform: translateY(0%) rotate(-10deg);
        right: 40%;
        top: 77%;
    }

    .skillTabs{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .skillTabs>.tab{
        width: 100%;
    }
    .skillTabs>.tab1{
        height: 40%;}
    .skillTabs>.tab1>.end{
    }
    .skillTabs>.tab1>.end>div.heading>p{
        font-size: 1vh;
    }
    .skillTabs>.tab1>.end>div.boding>.icon{
        width: 22.5%;
        height: 20%;
    }

    .skillTabs>.tab2{
        flex-direction: row;
        height: 20%;
    }
    .skillTabs>.tab2>.midTab>i{
        font-size: 2vh;
    }
    .skillTabs>.tab2>.midTab>p{
        font-size: 1.2vh;
    }
    .skillTabs>.tab2>.midTab>h2{
        font-size: 3vh;
    }

    .skillTabs>.tab3{
        display: flex;
        flex-direction: column;
        height: 40%;
        place-content:initial;
    }
    .skillTabs>.tab3 h3{
        font-size: 1.5vh;
        text-align: center;
        margin: 3% 0;
    }
    .skillTabs>.tab3 p{
        font-size: 1.2vh;
        text-align: center;
    }
}
