#Contact{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/minimal_dashboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    overflow: hidden;
}
#contactBG{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#contactBG>img{
    position: absolute;
    object-fit: contain;
    object-position:right;
    top: 10%;
}
#content{
    position: absolute;
    top: 50%;
    height: 100%;
    width: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0 5%;
}
#content>h1{
    font-size: 4.5vh;
    margin-top: 5%;
}
#content>button{
    position: relative;
    width: 25%;
    height: 6%;
    border-radius: 50px;
    border: none;
    font-size: 1.7vh;
    overflow: hidden;
    z-index: 1;
}
#content>button::before{
    position: absolute;
    content: '';
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background-color: rgb(160, 240, 193);
    background-size: 100%;
    background-position: center;
    z-index: -1;
    transition: 700ms ease;
}

#content>form{
    position: relative;
    /* margin-top: %; */
    width: 60%;
    display: flex;
    flex-direction: column;
}
#content>form>input{
    height: 5vh;
    margin: 2% 0;
    border-radius: 10px;
    outline:none;
    border: none;
    background: #ddd;
    padding-left: 2%;
    transition: 200ms ease;
}
#content>form>input:focus, #content>form>textarea:focus{
    box-shadow: 0 0 2px 1px #aaa;
}
#content>form>textarea{
    resize: none;
    margin-bottom: 3%;
    border-radius: 10px;
    outline:none;
    border: none;
    background: #ddd;
    padding: 2%;
    transition: 200ms ease;
}
#content>form>button{
    height: 5vh;
    border-radius: 10px;
    background-color: rgb(160, 240, 193);
    border: none;
    box-shadow: 0 0 2px 1px rgba(0, 128, 0, 0.48);
    color: white;
    text-shadow: 0 0 3px #333;
    font-size: 2vh;
    font-weight: 800;
}


@media only screen and (max-width: 767px){
    #contactBG>img{
        object-position:right;
        top: 0%;
    }
    #content{width: 100%;}
    #content>h1{
        text-align: center;
        font-size: 3vh;
    }
    #content>button{
        font-size: 1.5vh;
        height: 5vh;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    #content>form{
        width: 100%;
        margin-top: 85%;
    }
    #content>form>input{
        font-size: 1.5vh;border-radius: 5px;text-align: center;
    }
    #content>form>textarea{
        height: 15vh;
        font-size: 1.5vh;
        border-radius: 5px;
    }
    #content>form>button{
        font-size: 1.5vh;
        border-radius: 5px;
    }
}