#Contact{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/minimal_dashboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}