#Contact{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/minimal_dashboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    overflow: hidden;
}
#contactBG{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#contactBG>img{
    position: absolute;
    object-fit: contain;
    object-position:right;
    top: 10%;
}
#content{
    position: absolute;
    top: 50%;
    height: 100%;
    width: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0 5%;
}
#content>h1{
    font-size: 4.5vh;
    margin-top: 5%;
}
#content>button{
    position: relative;
    width: 30%;
    height: 6%;
    border-radius: 50px;
    border: none;
    font-size: 1.7vh;
    overflow: hidden;
    z-index: 1;
}
#content>button::before{
    position: absolute;
    content: '';
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background-color: rgb(160, 240, 193);
    background-size: 100%;
    background-position: center;
    z-index: -1;
    transition: 700ms ease;
}

#content>h2{
    margin: 50% 0 2%;
    font-size: 3vh;
}

@media only screen and (max-width: 767px){
    #contactBG>img{
        object-position:right;
        top: 0%;
    }
    #content{width: 100%;}
    #content>h1{
        text-align: center;
        font-size: 2.7vh;
    }
    #content>h2{
        text-align: center;
        font-size: 2.5vh;
        margin: 95% 0 5%;
    }
    #content>button{
        font-size: 1.5vh;
        height: 5vh;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}