@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
/* font-family: Agbalumo; */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* font-family: 'Sacramento', cursive; */

main.App{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow-y: scroll;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spEven{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
img.full{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.empty{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
}
button{
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.modal{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 50;
  display: grid;
}
.hide{
  display: none;
}
.scrollable{
  overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
  width: 0.5vw;               
  height: 10vh;               
  border-radius: 10px;    
  padding-right: 0 2vw;  
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;        
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #333;    
  border-radius: 20px;      
  border: 3px solid #333;  
}